.interests-sequence {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.my-interests {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-interests>li {
    width: 350px;
    min-height: 50px;
    display: flex;
    list-style-type: none;
    font-size: 48px;
    color: #3fb152;
    opacity: 0%;
    transition: opacity 2s;
}

.mi-li-1,
.mi-li-2,
.mi-li-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mi-li-1>svg {
    margin-left: 0;
}

.mi-li-2>svg {
    margin-left: auto;
}

.mi-li-3>svg {
    margin-left: 0;
}

.interests-li-text1,
.interests-li-text2,
.interests-li-text3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.interests-li-text1>svg,
.interests-li-text2>svg,
.interests-li-text3>svg {
    position: absolute;

}

@media (max-width: 500px) {

    .interests-li-text1>svg,
    .interests-li-text2>svg,
    .interests-li-text3>svg {
        width: 150px;
    }

    .my-interests>li {
        width: 200px;
    }
}