.projects-sequence {
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 100%;
    color:#3fb152;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.proj-list {
  margin: 0;
  padding: 20px;
  display: flex;
  gap: 16px;  
  flex: 0;
}

.left {
    transform: translate(calc(100% + 5px));
}

.right {
    transform: translateX(calc(-178px * 9 - 16px));
}

.proj-text {
    display: flex;
    justify-content: center;
}

.proj-text > svg {
    width: 400px;
}

.proj-list > li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  flex: 0;
  gap: 8px;
}

li > img {
    border: 5px solid #3fb152;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@keyframes slideLeft {
    0%{
        transform: translateX(calc(100% + 5px));
    }

    100% {
        transform: translateX(calc(-178px * 9 - 16px));
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(calc(-178px * 9 - 16px));
    }

    100% {
        transform: translateX(calc(100% + 5px));
    }
}

@media (max-width: 600px) {
}