.skills-sequence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.skills-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.skills-text>svg {
    width: fit-content;
}

.my-skills {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.my-skills>li {
    list-style-type: none;
    opacity: 0;
    transition: opacity 1s;
}

.my-skills>li>i {
    padding: 10px;
    font-size: 75px;
    color: black
}

@media (max-width: 700px) {
    .my-skills>li>i {
        font-size: 45px;
    }
}